div.dp-row {
  display: flex;
  justify-content: center;
  padding: 10px 56px 10px;
}
div.dp-row:nth-child(1) {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

div.dp-row:nth-child(odd) {
  /* TODO: background */
}

div.dp-row-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  div {
    justify-content: center;
  }
}

.dp-row-content.image-first-mobile {
  flex-direction: column-reverse;
}

div.dp-text {
  display: inherit;
  flex-grow: 1;
  flex-direction: column;
}

div.dp-image.hidden {
  max-width: 0;
  max-height: 0;
}
div.dp-image {
  display: inherit;
  flex-grow: 1;
}

img.dp-img {
  max-width: 100%;
  user-select: none;
}

@media (min-width: 1280px) {
  div.dp-row:nth-child(1) {
    margin: unset;
    padding-top: 56px;
  }
  div.dp-row-content {
    flex-direction: row;
    width: 1280px;
    div {
      max-width: 50%;
    }
  }
  div.dp-row-content.image-first {
    flex-direction: row-reverse;
  }
  img.dp-img {
    object-fit: contain;
  }
  div.dp-image.hidden {
    max-width: unset;
    max-height: unset;
  }
}
