body {
  background-color: white;
  min-height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 0.1em;
  font-size: 28px;
  margin: 0;
}

a {
  color: #ffffff;
  background-color: #0a2540;
  text-decoration: none;
  border-radius: 24px;
  display: inline-block;
  font-size: 32px;
  padding: 0.5em 1em;
  user-select: none;
}

@media (min-width: 1280px) {
  a {
    font-size: 18px;
  }
}

a.inverted {
  color: #0a2540;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 94px;
}
h2 {
  font-size: 72px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 44px;
}
h5 {
  font-size: 32px;
}
h6 {
  font-size: 22px;
}

p {
  font-size: 18px;
}
